[Unit]
Description=All of ROS running on the background
After=multi-user.target

[Service]
Type=idle
User=nvidia
ExecStart=/bin/bash /home/nvidia/Fukaya/A_house/autostart_scripts/start_atcart.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
