[Unit]
Description=All of ROS running on the background
After=multi-user.target

[Service]
Type=idle
User=nvidia
ExecStart=/bin/bash /home/nvidia/Fukaya/C_house/autostart_scripts/start_gopro.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
